<mat-card>
    <mat-card-title>Registro</mat-card-title>
    <mat-card-content>
        <form fxLayout="column" [formGroup]="contactForm" autocomplete="new-form">
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                    <input matInput type="text" placeholder="Nombres" formControlName="name">
                    <mat-error *ngIf="nameInvalid">Campo Requerido</mat-error>

                </mat-form-field>

                <mat-form-field fxFlex>
                    <input matInput type="tel" placeholder="Ingrese su CI" formControlName="ci">
                    <mat-error *ngIf="ciInvalid"> Campo Requerido</mat-error>

                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field fxFlex>
                    <input matInput type="text" placeholder="Email" formControlName="email">
                    <mat-error *ngIf="emailFieldIsInvalid">Correo no valido</mat-error>
                </mat-form-field>
            </div>
            <div class="input-row">
                <mat-form-field fxFlex>
                    <mat-label>Ingresa tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" autocomplete="new-password" formControlName="passaword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                    <mat-error *ngIf="passwordInvalid">Campo Requerido</mat-error>

                </mat-form-field>
            </div>
        </form>

    </mat-card-content>
    <section>
        <div class="example-button-row">
            <button mat-raised-button color="warn" [routerLink]="['/login']">Cancelar</button>
            <button mat-raised-button (click)="registry(contactForm.value)" [disabled]="contactForm.invalid" color="accent">Registrar</button>
        </div>
    </section>
</mat-card>