<div class="main">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
            <span>Credito Ya!!</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
                <a *ngIf="!logueado" routerLink="createAccount" mat-button>Registrar</a>
                <a *ngIf="!logueado" routerLink="login" mat-button>Ingresar</a>
                <a *ngIf="logueado" routerLink="requestC" mat-button>Solicitar</a>
                <a *ngIf="logueado && userPaid" routerLink="pay" mat-button>Pagar</a>
                <a *ngIf="logueado" (click)="verHistorial()" mat-button>Historial</a>
                <app-fondos *ngIf="logueado && isAdmin"></app-fondos>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <app-fondos *ngIf="logueado && isAdmin"></app-fondos>
                <a (click)="sidenav.toggle()" mat-list-item>Cerrar</a>
                <a *ngIf="!logueado" routerLink="createAccount" mat-list-item>Registrar</a>
                <a *ngIf="!logueado" routerLink="login" mat-list-item>Ingresar</a>

                <a *ngIf="logueado" routerLink="requestC" mat-list-item>Solicitar</a>
                <a *ngIf="logueado && userPaid" routerLink="pay" mat-list-item>Pagar</a>

                <a *ngIf="logueado" (click)="verHistorial()" mat-list-item>Historial</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content fxFlexFill>
            <router-outlet> </router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>